body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fc1e8a;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg,
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 100%);
    }

h2 {
    font-size: 3em;
    color: #F5F5F5FF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 15px 20px;
}

.reset {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 80%;
    color: #000000FF;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    }

.game {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    justify-content: center;
    align-content: center;
    border: none;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    font-size: 4em;
    transform: rotateY(0deg);
    transition: 0.25s;
}

.item::after{
    position: absolute;
    inset: 0;
    content: "";
    background-color: #444;

    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform:  rotateY(180deg);
}
.item.boxOpen::after, .boxMatch::after{
    transform:  rotateY(180deg);
}



@media (max-width: 600px) {
    body {
        min-height: auto;
    }

    .container {
        width: 90%; /* Defina a largura desejada para a .container */
        max-width: 400px; /* Defina a largura máxima conforme necessário */
    }

    h2 {
        font-size: 2em;
    }

    .reset {
        width: 100%;
    }

    .game {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .item {
        width: calc(33.33% - 10px);
        height: 0;
        padding-bottom: calc(33.33% - 10px);
        font-size: 1.5em;
    }
}
